#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Todo-wrapper{

  background-image: linear-gradient(180deg,rgba(49, 15, 89 ), rgb(104, 62, 189));
  height: 500px;
  width: 400px;
  border-radius: 30px;

}

.todo-form{

  background-color: rgb(38, 4, 78, 0.7);
  align-self: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

button {
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
background: #000000;
color: #FFFFFF;
border-radius: 10px;
padding: 5px 20px 5px;
font-size: 13px;
font-weight: 500;

transition: transform 200ms,background 200ms;
:hover{
  
}transform: translateY(-2px);
}

.todo{
  
  display: flex;
  justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(104, 62, 189) ;
  

}


